<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
<div class="navbar-brand container">
<%= link_to "New Survey", new_survey_path%>
<%= link_to "Home Page", surveys_path%>
</div>
</nav>