
<div class="row">
  <div class="col-md-4">
    <h1><%= @survey.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h3><%= @survey.description %></h3>
  </div>
</div>

<%= render "survey_links" %>
<br>
<%= render "survey_questions" %>

