<div class="row">
  <div class="col-md-8">
    <h1><%= @survey.name %></h1>
    <p><%= @survey.description %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <%= form_for [@survey, @survey_response] do |sr_fields| %>

    <% end %>
  </div>
</div>